<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<head>
    <title>New Admission Information :: MediNetServices</title>

    <link href="../../../resources/css/datepicker.css" th:href="@{/resources/css/datepicker.css}" rel="stylesheet"/>

    <script>
        jQuery(document).ready(function () {
            jQuery('#admissionDate, #injuryDate').datepicker({
                todayBtn: true,
                keyboardNavigation: false,
                calendarWeeks: true,
                autoclose: true,
                todayHighlight: true
            });
        });
    </script>
</head>

<body>
<section layout:fragment="content">
    <form class="form-horizontal" role="form" th:object="${admissionInfo}" th:action="@{/admissionInfo/save}"
          method="POST">

        <input type="hidden" th:field="*{patient.id}"/>

        <div class="form-group">
            <label for="admissionDate" class="col-sm-2 control-label" th:text="#{label.admissionInfo.admissionDate}">Admission
                Date</label>

            <div class="col-sm-3">
                <input type="text" th:field="*{admissionDate}" class="form-control input-sm"/>

                <p class="text-danger" th:if="${#fields.hasErrors('admissionDate')}"><span
                        th:errors="*{admissionDate}">Admission Date required!</span></p>
            </div>
        </div>

        <div class="form-group">
            <label for="injuryDate" class="col-sm-2 control-label" th:text="#{label.admissionInfo.injuryDate}">Injury
                Date</label>

            <div class="col-sm-3">
                <input type="text" th:field="*{injuryDate}" class="form-control input-sm"/>

                <p class="text-danger" th:if="${#fields.hasErrors('injuryDate')}"><span
                        th:errors="*{injuryDate}">Injury Date required!</span></p>
            </div>
        </div>

        <div class="form-group">
            <label for="bedNumber" class="col-sm-2 control-label" th:text="#{label.admissionInfo.bedNumber}">Bed
                Number</label>

            <div class="col-sm-3">
                <input type="text" th:field="*{bedNumber}" class="form-control input-sm"/>

                <p class="text-danger" th:if="${#fields.hasErrors('bedNumber')}"><span
                        th:errors="*{bedNumber}">Bed Number required!</span></p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary" th:text="#{button.save}">Save Changes</button>
            </div>
        </div>
    </form>
</section>
<script src="../../../resources/js/bootstrap-datepicker.js" th:scr="@{/resources/js/bootstrap-datepicker.js}"></script>

</body>
</html>