<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<head>
    <title>Edit Admission Information :: MediNetServices</title>

    <link href="../../../resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}" media="screen"
          rel="stylesheet"/>
</head>
<body>
<section layout:fragment="content">
    <form class="form-horizontal" role="form" th:object="${admissionInfo}" th:action="@{/admissionInfo/update}"
          method="POST">

        <input type="hidden" th:field="*{patient.id}"/>
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{version}"/>

        <div class="form-group">
            <label for="admissionDate" class="col-sm-2 control-label" th:text="#{label.admissionInfo.admissionDate}">Admission
                Date</label>

            <div class="col-sm-3">
                <input type="text" id="admissionDate" th:field="*{admissionDate}" class="form-control input-sm"/>

                <p class="text-danger" th:if="${#fields.hasErrors('admissionDate')}"><span
                        th:errors="*{admissionDate}">Admission Date required!</span></p>
            </div>
        </div>

        <div class="form-group">
            <label for="injuryDate" class="col-sm-2 control-label" th:text="#{label.admissionInfo.injuryDate}">Injury
                Date</label>

            <div class="col-sm-3">
                <input type="text" id="injuryDate" th:field="*{injuryDate}" class="form-control input-sm"/>

                <p class="text-danger" th:if="${#fields.hasErrors('injuryDate')}"><span
                        th:errors="*{injuryDate}">Injury Date required!</span></p>
            </div>
        </div>

        <div class="form-group">
            <label for="bedNumber" class="col-sm-2 control-label" th:text="#{label.admissionInfo.bedNumber}">Bed
                Number</label>

            <div class="col-sm-3">
                <input type="text" th:field="*{bedNumber}" class="form-control input-sm"/>

                <p class="text-danger" th:if="${#fields.hasErrors('bedNumber')}"><span
                        th:errors="*{bedNumber}">Bed Number required!</span></p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary" th:text="#{button.save}">Save Changes</button>
            </div>
        </div>
    </form>
</section>

<link href="../../../resources/css/main.css" th:href="@{/resources/css/main.css}" rel="stylesheet"/>

</body>
</html>