<!DOCTYPE html>
<html>

<head>
    <title>Show Admission Info</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="../../../resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}" media="screen"
          rel="stylesheet"/>
    <link href="../../../resources/css/main.css" th:href="@{/resources/css/main.css}" rel="stylesheet"/>
</head>
<body>
<div class="container-narrow">
    <div th:replace="fragments/header :: header"></div>
    <hr/>

    <div class="row">
        <div class="row">

            <div th:if="${message}"
                 th:text="${message}"
                 id="message" class="alert alert-info">
            </div>

            <fieldset>
                <legend>Show Admission Information</legend>
                <dl class="dl-horizontal">
                    <dt th:text="#{label.admissionInfo.admissionDate}">Admission Date</dt>
                    <dd th:text="${admissionInfo.admissionDate}"></dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt th:text="#{label.admissionInfo.injuryDate}">Injury Date</dt>
                    <dd th:text="${admissionInfo.injuryDate}"></dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt th:text="#{label.admissionInfo.bedNumber}">Bed Number</dt>
                    <dd th:text="${admissionInfo.bedNumber}"></dd>
                </dl>
            </fieldset>

            <h3>Diagnosis List</h3>

            <table class="table table-bordered">
                <tr>
                    <th>#</th>
                    <th>Created On</th>
                    <th>Chief Complain(s)</th>
                </tr>

                <tr th:each="diagnosis : ${admissionInfo.diagnoses}">
                    <td><a th:href="@{/diagnosis/show/__${diagnosis.id}__}">Show</a></td>
                    <td th:text="${diagnosis.entryDate}">Entry Date</td>
                    <td th:text="${diagnosis.chiefComplain}">Chief Complain(s)</td>
                </tr>
            </table>

            <div>
                <a href="#" class="btn btn-info" th:href="@{/patient/show/__${admissionInfo.patient.id}__} "> Back To Patient Info</a>
                <a sec:authorize="hasRole('ROLE_ADMIN')" href="#" class="btn btn-info" th:href="@{/admissionInfo/edit/__${admissionInfo.id}__}">Edit</a>
                <a sec:authorize="hasRole('ROLE_ADMIN')" href="#" class="btn btn-info" th:href="@{/diagnosis/create/__${admissionInfo.id}__}"> Create Diagnosis </a>
            </div>
        </div>
    </div>

    <hr/>
    <div class="row">
        <div th:replace="fragments/footer :: footer"/>
    </div>
</div>
</body>
</html>