<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">

<head>
    <title>Show Admission Info</title>
</head>
<body>
<section layout:fragment="content">

    <div th:if="${message}"
         th:text="${message}"
         id="message" class="alert alert-info">
    </div>

    <fieldset>
        <legend>Show Admission Information</legend>
        <dl class="dl-horizontal">
            <dt th:text="#{label.admissionInfo.admissionDate}">Admission Date</dt>
            <dd th:text="${admissionInfo.admissionDate} ? ${#dates.format(admissionInfo.admissionDate,'dd-MMM-yyyy')}"></dd>
        </dl>

        <dl class="dl-horizontal">
            <dt th:text="#{label.admissionInfo.injuryDate}">Injury Date</dt>
            <dd th:text="${admissionInfo.injuryDate} ? ${#dates.format(admissionInfo.injuryDate,'dd-MMM-yyyy')}"></dd>
        </dl>

        <dl class="dl-horizontal">
            <dt th:text="#{label.admissionInfo.bedNumber}">Bed Number</dt>
            <dd th:text="${admissionInfo.bedNumber}"></dd>
        </dl>
    </fieldset>

    <h3>Diagnosis List</h3>

    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Created On</th>
            <th>Chief Complain(s)</th>
        </tr>

        <tr th:each="diagnosis : ${admissionInfo.diagnoses}">
            <td><a th:href="@{/diagnosis/show/__${diagnosis.id}__}">Show</a></td>
            <td th:text="${diagnosis.entryDate} ? ${#dates.format(diagnosis.entryDate,'dd-MMM-yyyy')}">Entry Date</td>
            <td th:text="${diagnosis.chiefComplain}">Chief Complain(s)</td>
        </tr>
    </table>

    <div>
        <a href="#" class="btn btn-info" th:href="@{/patient/show/__${admissionInfo.patient.id}__} "> Back To Patient
            Info</a>
        <a sec:authorize="hasRole('ROLE_ADMIN')" href="#" class="btn btn-info"
           th:href="@{/admissionInfo/edit/__${admissionInfo.id}__}">Edit</a>
        <a sec:authorize="hasRole('ROLE_ADMIN')" href="#" class="btn btn-info"
           th:href="@{/diagnosis/create/__${admissionInfo.id}__}"> Create Diagnosis </a>
    </div>
</section>
</body>
</html>