<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<head>
    <title>Edit Plan Of Rx </title>
</head>
<body>

<section layout:fragment="content">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Edit Plan Rx
                    (
                    <span th:if="${registrationType == T(org.jugbd.mnet.domain.enums.RegistrationType).OUTDOOR}">
                        Outdoor Patient
                    </span>
                    <span th:if="${registrationType == T(org.jugbd.mnet.domain.enums.RegistrationType).INDOOR}">
                        Indoor Patient
                    </span>
                    )</h2>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">Edit Treatment Plan</div>
                <form class="form-horizontal" method='POST' th:object="${treatmentPlan}"
                      th:action="@{/treatmentplan/edit?registrationType=}+ ${registrationType}">
                    <div class="panel-body">

                        <fieldset>
                            <input type="hidden" th:field="*{id}"/>

                            <span th:if="${registrationType == T(org.jugbd.mnet.domain.enums.RegistrationType).OUTDOOR}">
                                <input type="hidden" th:field="*{outdoorRegister.id}"/>
                            </span>
                            <span th:if="${registrationType == T(org.jugbd.mnet.domain.enums.RegistrationType).INDOOR}">
                                <input type="hidden" th:field="*{register.id}"/>
                            </span>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" th:text="#{label.treatment.plan.plan}">
                                    Plan
                                </label>

                                <div class="col-sm-3">

                                    <select class="form-control" th:field="*{treatmentPlanType}">
                                        <option value="" th:text="#{common.select.prompt}"></option>
                                        <option th:each="plan : ${T(org.jugbd.mnet.domain.enums.TreatmentPlanType).values()}"
                                                th:value="${plan}"
                                                th:text="${plan.label}"
                                                th:selected="${plan == treatmentPlan.treatmentPlanType}">
                                        </option>
                                    </select>

                                    <p class="text-danger" th:if="${#fields.hasErrors('treatmentPlanType')}">
                                        <span th:errors="*{treatmentPlanType}">Required</span>
                                    </p>
                                </div>

                            </div>

                            <div id="otherTreatmentPlanType" style="display: none;">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"> Other Plan </label>

                                    <div class="col-sm-3">
                                        <textarea type="text" class="form-control" rows="2"
                                                  th:field="*{otherTreatmentPlanType}"></textarea>

                                        <p class="text-danger" th:if="${#fields.hasErrors('otherTreatmentPlanType')}">
                                            <span th:errors="*{otherTreatmentPlanType}">Required</span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div id="typeOfConservativeTreatment">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"> Type of Conservative Treatment </label>

                                    <div class="col-sm-3">
                                        <input type="text" class="form-control"
                                               th:field="*{typeOfConservativeTreatment}"/>

                                        <p class="text-danger"
                                           th:if="${#fields.hasErrors('typeOfConservativeTreatment')}">
                                            <span th:errors="*{typeOfConservativeTreatment}">Required</span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div id="treatmentPlanDiv">

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" th:text="#{label.treatment.plan.stsgOrFtsg}">
                                        stsgOrFtsg
                                    </label>

                                    <div class="col-sm-3">
                                        <input type="checkbox" class="form-control checkbox input-sm"
                                               th:field="*{stsgOrFtsg}"/>

                                        <p class="text-danger" th:if="${#fields.hasErrors('stsgOrFtsg')}">
                                            <span th:errors="*{stsgOrFtsg}">Required</span>
                                        </p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label"
                                           th:text="#{label.treatment.plan.flapPedicled}">
                                        flapPedicled
                                    </label>

                                    <div class="col-sm-3">
                                        <input type="checkbox" class="form-control checkbox input-sm"
                                               th:field="*{flapPedicled}"/>

                                        <p class="text-danger" th:if="${#fields.hasErrors('flapPedicled')}">
                                            <span th:errors="*{flapPedicled}">Required</span>
                                        </p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" th:text="#{label.treatment.plan.freeFlap}">
                                        freeFlap
                                    </label>

                                    <div class="col-sm-3">
                                        <input type="checkbox" class="form-control checkbox input-sm"
                                               th:field="*{freeFlap}"/>

                                        <p class="text-danger" th:if="${#fields.hasErrors('freeFlap')}">
                                            <span th:errors="*{freeFlap}">Required</span>
                                        </p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label"
                                           th:text="#{label.treatment.plan.tissueExpansion}">
                                        tissueExpansion
                                    </label>

                                    <div class="col-sm-3">
                                        <input type="checkbox" class="form-control checkbox input-sm"
                                               th:field="*{tissueExpansion}"/>

                                        <p class="text-danger" th:if="${#fields.hasErrors('tissueExpansion')}">
                                            <span th:errors="*{tissueExpansion}">Required</span>
                                        </p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label"
                                           th:text="#{label.treatment.plan.fasciotomyOrEscharotomy}">
                                        fasciotomyOrEscharotomy
                                    </label>

                                    <div class="col-sm-3">
                                        <input type="checkbox" class="form-control checkbox input-sm"
                                               th:field="*{fasciotomyOrEscharotomy}"/>

                                        <p class="text-danger" th:if="${#fields.hasErrors('fasciotomyOrEscharotomy')}">
                                            <span th:errors="*{fasciotomyOrEscharotomy}">Required</span>
                                        </p>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-sm-2 control-label"
                                           th:text="#{label.treatment.plan.implantInsertion}">
                                        implantInsertion
                                    </label>

                                    <div class="col-sm-3">
                                        <input type="checkbox" class="form-control checkbox input-sm"
                                               th:field="*{implantInsertion}"/>

                                        <p class="text-danger" th:if="${#fields.hasErrors('implantInsertion')}">
                                            <span th:errors="*{implantInsertion}">Required</span>
                                        </p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label"
                                           th:text="#{label.treatment.plan.repairReconstructionPart}">
                                        repairReconstructionPart
                                    </label>

                                    <div class="col-sm-3">
                                        <input type="checkbox" class="form-control checkbox input-sm"
                                               th:field="*{repairReconstructionPart}"/>

                                        <p class="text-danger" th:if="${#fields.hasErrors('repairReconstructionPart')}">
                                            <span th:errors="*{repairReconstructionPart}">Required</span>
                                        </p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label"> Comments </label>

                                    <div class="col-sm-3">
                                        <textarea type="text" class="form-control" rows="3"
                                                  th:field="*{comment}"></textarea>

                                        <p class="text-danger" th:if="${#fields.hasErrors('comment')}">
                                            <span th:errors="*{comment}">Required</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                    </div>

                    <div class="panel-footer clearfix">

                        <a th:if="${registrationType == T(org.jugbd.mnet.domain.enums.RegistrationType).INDOOR}"
                           class="btn btn-danger"
                           th:href="@{/treatmentplan/back/__${treatmentPlan.register.id}__?registrationType=}+${registrationType}">
                            <i class="fa fa-arrow-left"></i> <span th:text="#{label.back}">Back</span>
                        </a>

                        <a th:if="${registrationType == T(org.jugbd.mnet.domain.enums.RegistrationType).OUTDOOR}"
                           class="btn btn-danger"
                           th:href="@{/treatmentplan/back/__${treatmentPlan.outdoorRegister.id}__?registrationType=}+${registrationType}">
                            <i class="fa fa-arrow-left"></i> <span th:text="#{label.back}">Back</span>
                        </a>

                        <button type="submit" class="btn btn-primary pull-right">Save Changes <i class="fa fa-floppy-o"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<div layout:fragment="custom-scripts">
    <script type="application/javascript">
        initialize();

        function initialize() {
            enableOperativeBoxIfOperative('treatmentPlanType', 'treatmentPlanDiv');
            addDropdownChangeEvent("treatmentPlanType", "treatmentPlanDiv");
        }


        function addDropdownChangeEvent(selectId, commentDiv) {
            jQuery("#" + selectId).change(function () {
                enableOperativeBoxIfOperative(selectId, commentDiv);
            });
        }

        function enableOperativeBoxIfOperative(selectId, commentId) {

            var others = jQuery("select[id='" + selectId + "'] option:selected").val();

            if (others != "") {
                if (others == "OPERATIVE") {
                    enableDiv(true, commentId);
                    enableDiv(false, "typeOfConservativeTreatment");
                    $("#otherTreatmentPlanType").css("display", "none");
                } else if (others == "CONSERVATIVE") {
                    enableDiv(false, commentId);
                    enableDiv(true, "typeOfConservativeTreatment");
                    $("#otherTreatmentPlanType").css("display", "none");
                }else if(others == "OTHER"){
                    enableDiv(false, commentId);
                    enableDiv(false, "typeOfConservativeTreatment");
                    $("#otherTreatmentPlanType").css("display", "block");
                }
            } else {
                enableDiv(false, commentId);
                enableDiv(false, "typeOfConservativeTreatment");
                $("#otherTreatmentPlanType").css("display", "none");
            }
        }

        function enableDiv(enable, commentId) {

            if (enable) {
                jQuery("#" + commentId).show();
            } else {
                jQuery("#" + commentId).hide();
            }
        }
    </script>
</div>

</body>
</html>