<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<head>
    <title>Add Diagnosis :: MediNetServices</title>
    <link href="../../../resources/css/datepicker3.css" th:href="@{/resources/css/datepicker3.css}" rel="stylesheet"/>
</head>
<body>

<section layout:fragment="content">
    <div id="page-wrapper">

        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">New Diagnosis Entry</h2>
            </div>
        </div>

        <div class="row">

            <div class="panel panel-default">
                <div class="panel-heading">Diagnosis</div>
                <div class="panel-body">

                    <form class="form-horizontal" role="form" action="#" th:action="@{/diagnosis/create}"
                          th:object="${diagnosis}"
                          method="post">

                        <input type="hidden" th:field="*{register.id}"/>

                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label required-field"
                                       th:text="#{label.diagnosis.burn}">
                                    Burn
                                </label>

                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <div class="input-group-addon">%</div>
                                            <input type="number" class="form-control input-sm"
                                                   th:field="*{burns.percentage}"/>
                                        </div>
                                        <p class="text-danger"
                                           th:if="${#fields.hasErrors('burns.percentage')}">
                                            <span th:errors="*{burns.percentage}">Required</span>
                                        </p>
                                    </div>

                                    <div class="col-sm-2">
                                        <select class="form-control" th:field="*{burns.conditions}">
                                            <option value="" th:text="#{common.select.prompt}"></option>
                                            <option th:each="item : ${T(org.jugbd.mnet.domain.enums.Condition).values()}"
                                                    th:value="${item}"
                                                    th:text="${item.label}"
                                                    th:selected="${item == diagnosis.burns.conditions}">
                                            </option>
                                        </select>

                                        <p class="text-danger"
                                           th:if="${#fields.hasErrors('burns.conditions')}">
                                            <span th:errors="*{burns.conditions}">Required</span>
                                        </p>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <div class="input-group-addon">D</div>
                                            <input type="number" class="form-control input-sm"
                                                   th:field="*{burns.daysOld}" placeholder="Days old"/>
                                        </div>
                                        <p class="text-danger"
                                           th:if="${#fields.hasErrors('burns.daysOld')}">
                                            <span th:errors="*{burns.daysOld}">Required</span>
                                        </p>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label required-field"
                                       th:text="#{label.diagnosis.congenital.anomaly}">
                                    Congenital Anomaly
                                </label>

                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <div class="input-group-addon">%</div>
                                            <input type="number" class="form-control input-sm"
                                                   th:field="*{congenitalAnomaly.percentage}"/>
                                        </div>
                                        <p class="text-danger"
                                           th:if="${#fields.hasErrors('congenitalAnomaly.percentage')}">
                                            <span th:errors="*{congenitalAnomaly.percentage}">Required</span>
                                        </p>
                                    </div>

                                    <div class="col-sm-2">
                                        <select class="form-control" th:field="*{congenitalAnomaly.conditions}">
                                            <option value="" th:text="#{common.select.prompt}"></option>
                                            <option th:each="item : ${T(org.jugbd.mnet.domain.enums.Condition).values()}"
                                                    th:value="${item}"
                                                    th:text="${item.label}"
                                                    th:selected="${item == diagnosis.congenitalAnomaly.conditions}">
                                            </option>
                                        </select>

                                        <p class="text-danger"
                                           th:if="${#fields.hasErrors('congenitalAnomaly.conditions')}">
                                            <span th:errors="*{congenitalAnomaly.conditions}">Required</span>
                                        </p>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <div class="input-group-addon">D</div>
                                            <input type="number" class="form-control input-sm"
                                                   th:field="*{congenitalAnomaly.daysOld}" placeholder="Days old"/>
                                        </div>
                                        <p class="text-danger"
                                           th:if="${#fields.hasErrors('congenitalAnomaly.daysOld')}">
                                            <span th:errors="*{congenitalAnomaly.daysOld}">Required</span>
                                        </p>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label required-field"
                                       th:text="#{label.diagnosis.neoplastic}">
                                    Neoplastic
                                </label>

                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <div class="input-group-addon">%</div>
                                            <input type="number" class="form-control input-sm"
                                                   th:field="*{neoplastic.percentage}"/>
                                        </div>
                                        <p class="text-danger"
                                           th:if="${#fields.hasErrors('neoplastic.percentage')}">
                                            <span th:errors="*{neoplastic.percentage}">Required</span>
                                        </p>
                                    </div>

                                    <div class="col-sm-2">
                                        <select class="form-control" th:field="*{neoplastic.conditions}">
                                            <option value="" th:text="#{common.select.prompt}"></option>
                                            <option th:each="item : ${T(org.jugbd.mnet.domain.enums.Condition).values()}"
                                                    th:value="${item}"
                                                    th:text="${item.label}"
                                                    th:selected="${item == diagnosis.neoplastic.conditions}">
                                            </option>
                                        </select>

                                        <p class="text-danger"
                                           th:if="${#fields.hasErrors('neoplastic.conditions')}">
                                            <span th:errors="*{neoplastic.conditions}">Required</span>
                                        </p>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <div class="input-group-addon">D</div>
                                            <input type="number" class="form-control input-sm"
                                                   th:field="*{neoplastic.daysOld}" placeholder="Days old"/>
                                        </div>
                                        <p class="text-danger"
                                           th:if="${#fields.hasErrors('neoplastic.daysOld')}">
                                            <span th:errors="*{neoplastic.daysOld}">Required</span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label required-field"
                                       th:text="#{label.diagnosis.postInfective}">
                                    Post Infective
                                </label>

                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <div class="input-group-addon">%</div>
                                            <input type="number" class="form-control input-sm"
                                                   th:field="*{postInfective.percentage}"/>
                                        </div>
                                        <p class="text-danger"
                                           th:if="${#fields.hasErrors('postInfective.percentage')}">
                                            <span th:errors="*{postInfective.percentage}">Required</span>
                                        </p>
                                    </div>

                                    <div class="col-sm-2">
                                        <select class="form-control" th:field="*{postInfective.conditions}">
                                            <option value="" th:text="#{common.select.prompt}"></option>
                                            <option th:each="item : ${T(org.jugbd.mnet.domain.enums.Condition).values()}"
                                                    th:value="${item}"
                                                    th:text="${item.label}"
                                                    th:selected="${item == diagnosis.postInfective.conditions}">
                                            </option>
                                        </select>

                                        <p class="text-danger"
                                           th:if="${#fields.hasErrors('postInfective.conditions')}">
                                            <span th:errors="*{postInfective.conditions}">Required</span>
                                        </p>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <div class="input-group-addon">D</div>
                                            <input type="number" class="form-control input-sm"
                                                   th:field="*{postInfective.daysOld}" placeholder="Days old"/>
                                        </div>
                                        <p class="text-danger"
                                           th:if="${#fields.hasErrors('postInfective.daysOld')}">
                                            <span th:errors="*{postInfective.daysOld}">Required</span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label required-field"
                                       th:text="#{label.diagnosis.traumatic}">
                                    Traumatic
                                </label>

                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <div class="input-group-addon">%</div>
                                            <input type="number" class="form-control input-sm"
                                                   th:field="*{traumatic.percentage}"/>
                                        </div>
                                        <p class="text-danger"
                                           th:if="${#fields.hasErrors('traumatic.percentage')}">
                                            <span th:errors="*{traumatic.percentage}">Required</span>
                                        </p>
                                    </div>

                                    <div class="col-sm-2">
                                        <select class="form-control" th:field="*{traumatic.conditions}">
                                            <option value="" th:text="#{common.select.prompt}"></option>
                                            <option th:each="item : ${T(org.jugbd.mnet.domain.enums.Condition).values()}"
                                                    th:value="${item}"
                                                    th:text="${item.label}"
                                                    th:selected="${item == diagnosis.traumatic.conditions}">
                                            </option>
                                        </select>

                                        <p class="text-danger"
                                           th:if="${#fields.hasErrors('traumatic.conditions')}">
                                            <span th:errors="*{traumatic.conditions}">Required</span>
                                        </p>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <div class="input-group-addon">D</div>
                                            <input type="number" class="form-control input-sm"
                                                   th:field="*{traumatic.daysOld}" placeholder="Days old"/>
                                        </div>
                                        <p class="text-danger"
                                           th:if="${#fields.hasErrors('traumatic.daysOld')}">
                                            <span th:errors="*{traumatic.daysOld}">Required</span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label required-field"
                                       th:text="#{label.diagnosis.aesthetic}">
                                    Aesthetic
                                </label>

                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <div class="input-group-addon">%</div>
                                            <input type="number" class="form-control input-sm"
                                                   th:field="*{aesthetic.percentage}"/>
                                        </div>
                                        <p class="text-danger"
                                           th:if="${#fields.hasErrors('aesthetic.percentage')}">
                                            <span th:errors="*{aesthetic.percentage}">Required</span>
                                        </p>
                                    </div>

                                    <div class="col-sm-2">
                                        <select class="form-control" th:field="*{aesthetic.conditions}">
                                            <option value="" th:text="#{common.select.prompt}"></option>
                                            <option th:each="item : ${T(org.jugbd.mnet.domain.enums.Condition).values()}"
                                                    th:value="${item}"
                                                    th:text="${item.label}"
                                                    th:selected="${item == diagnosis.aesthetic.conditions}">
                                            </option>
                                        </select>

                                        <p class="text-danger"
                                           th:if="${#fields.hasErrors('aesthetic.conditions')}">
                                            <span th:errors="*{aesthetic.conditions}">Required</span>
                                        </p>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <div class="input-group-addon">D</div>
                                            <input type="number" class="form-control input-sm"
                                                   th:field="*{aesthetic.daysOld}" placeholder="Days old"/>
                                        </div>
                                        <p class="text-danger"
                                           th:if="${#fields.hasErrors('aesthetic.daysOld')}">
                                            <span th:errors="*{aesthetic.daysOld}">Required</span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </fieldset>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <a href="#" class="btn btn-danger"
                                   th:href="@{/chiefcomplaints/cancel/__${diagnosis.register.id}__}"> <span
                                        th:text="#{label.cancel}">Cancel</span>
                                </a>
                                <button type="submit" class="btn btn-primary" th:text="#{label.save.changes}">Save
                                    Changes
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<div layout:fragment="custom-scripts">
    <div layout:include="layout/common-fragment :: date-picker-scripts"/>
</div>

</body>
</html>
