<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<head>
    <title>Add Diagnosis :: MediNetServices</title>
    <link href="../../../resources/css/datepicker3.css" th:href="@{/resources/css/datepicker3.css}" rel="stylesheet"/>
</head>
<body>

<section layout:fragment="content">

    <div class="row">

        <div class="panel panel-default">
            <div class="panel-heading">New Diagnosis Entry</div>
            <div class="panel-body">

                <form class="form-horizontal" role="form" action="#" th:action="@{/diagnosis/save}"
                      th:object="${diagnosis}"
                      method="post">
                    <input type="hidden" th:field="*{register.id}"/>

                    <div class="form-group">
                        <label for="chiefComplain" class="col-sm-3 control-label" th:text="#{label.chief.complains}">Chief
                            Complain(s)</label>

                        <div class="col-sm-5">
                            <textarea class="form-control input-sm" id="chiefComplain"
                                      th:field="*{chiefComplain}"></textarea>

                            <p class="text-danger" th:if="${#fields.hasErrors('chiefComplain')}">
                                <span th:errors="*{chiefComplain}">Chief Complain(s) cannot be either null or contain more than 3000 characters!</span>
                            </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="presentIllness" class="col-sm-3 control-label" th:text="#{label.present.illness}">Present
                            Illness</label>

                        <div class="col-sm-5">
                            <textarea class="form-control input-sm" id="presentIllness"
                                      th:field="*{presentIllness}"></textarea>

                            <p class="text-danger" th:if="${#fields.hasErrors('presentIllness')}">
                                <span th:errors="*{presentIllness}">Present Illness cannot be either null or contain more than 3000 characters!</span>
                            </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="associatedSymptoms" class="col-sm-3 control-label"
                               th:text="#{label.associated.symptoms}">Associated Symptom(s)</label>

                        <div class="col-sm-5">
                            <textarea class="form-control input-sm" id="associatedSymptoms"
                                      th:field="*{associatedSymptoms}"></textarea>

                            <p class="text-danger" th:if="${#fields.hasErrors('associatedSymptoms')}">
                                <span th:errors="*{associatedSymptoms}">Associated Symptom(s) cannot be either null or contain more than 3000 characters!</span>
                            </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="physicalExamination" class="col-sm-3 control-label"
                               th:text="#{label.physical.exams}">Physical
                            Examination(s)</label>

                        <div class="col-sm-5">
                            <textarea class="form-control input-sm" id="physicalExamination"
                                      th:field="*{physicalExamination}"></textarea>

                            <p class="text-danger" th:if="${#fields.hasErrors('physicalExamination')}">
                                <span th:errors="*{physicalExamination}">Physical Examination(s) cannot be either null or contain more than 3000 characters!</span>
                            </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="systemicExamination" class="col-sm-3 control-label"
                               th:text="#{label.systemic.exams}">Systemic
                            Examination(s)</label>

                        <div class="col-sm-5">
                            <textarea class="form-control input-sm" id="systemicExamination"
                                      th:field="*{systemicExamination}"></textarea>

                            <p class="text-danger" th:if="${#fields.hasErrors('systemicExamination')}">
                                <span th:errors="*{systemicExamination}">Systemic Examination(s) cannot be either null or contain more than 3000 characters!</span>
                            </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="plan" class="col-sm-3 control-label" th:text="#{label.plan}">Plan</label>

                        <div class="col-sm-5">
                            <textarea class="form-control input-sm" id="plan" th:field="*{plan}"></textarea>

                            <p class="text-danger" th:if="${#fields.hasErrors('plan')}">
                                <span th:errors="*{plan}">Plan cannot be either null or contain more than 3000 characters!</span>
                            </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-10">
                            <button type="reset" class="btn btn-danger" th:text="#{label.reset}">Reset</button>
                            <button type="submit" class="btn btn-info" th:text="#{label.submit}">Submit</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>

<div layout:fragment="custom-scripts">
    <div layout:include="layout/common-fragment :: date-picker-scripts"/>
</div>

</body>
</html>
