<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<head>
    <title>Add Diagnosis :: MediNetServices</title>
    <link href="../../../resources/css/datepicker3.css" th:href="@{/resources/css/datepicker3.css}" rel="stylesheet"/>
</head>
<body>
<section layout:fragment="content">
    <div id="page-wrapper">

        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Edit Diagnosis Entry</h2>
            </div>
        </div>

        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">Edit Diagnosis</div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" action="#" th:action="@{/diagnosis/edit}"
                          th:object="${diagnosis}" method="post">

                        <input type="hidden" th:field="*{register.id}"/>
                        <input type="hidden" th:field="*{id}"/>

                        <fieldset>

                            <div class="form-group">
                                <label class="col-sm-2 control-label required-field"
                                       th:text="#{label.diagnosis.icd10}">
                                    ICD10 Code
                                </label>

                                <div class="col-sm-2">
                                    <input class="form-control input-sm" th:field="*{icd10}"/>
                                    <p class="text-danger"
                                       th:if="${#fields.hasErrors('icd10')}">
                                        <span th:errors="*{icd10}">Required</span>
                                    </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label required-field"
                                       th:text="#{label.diagnosis.burn}">
                                    Burn
                                </label>

                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <div class="input-group-addon">%</div>
                                            <input type="number" class="form-control input-sm"
                                                   th:field="*{burns.percentage}"/>
                                        </div>
                                        <p class="text-danger"
                                           th:if="${#fields.hasErrors('burns.percentage')}">
                                            <span th:errors="*{burns.percentage}">Required</span>
                                        </p>
                                    </div>

                                    <div class="col-sm-2">
                                        <select class="form-control" th:field="*{burns.conditions}">
                                            <option value="" th:text="#{common.select.prompt}"></option>
                                            <option th:each="item : ${T(org.jugbd.mnet.domain.enums.Condition).values()}"
                                                    th:value="${item}"
                                                    th:text="${item.label}"
                                                    th:selected="${item == diagnosis.burns.conditions}">
                                            </option>
                                        </select>

                                        <p class="text-danger"
                                           th:if="${#fields.hasErrors('burns.conditions')}">
                                            <span th:errors="*{burns.conditions}">Required</span>
                                        </p>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <div class="input-group-addon">D</div>
                                            <input type="number" class="form-control input-sm"
                                                   th:field="*{burns.daysOld}" placeholder="Days old"/>
                                        </div>
                                        <p class="text-danger"
                                           th:if="${#fields.hasErrors('burns.daysOld')}">
                                            <span th:errors="*{burns.daysOld}">Required</span>
                                        </p>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label required-field"
                                       th:text="#{label.diagnosis.congenital.anomaly}">
                                    Congenital Anomaly
                                </label>

                                <div class="col-sm-2">
                                    <textarea class="form-control input-sm" th:field="*{congenitalAnomaly}"></textarea>
                                    <p class="text-danger"
                                       th:if="${#fields.hasErrors('congenitalAnomaly')}">
                                        <span th:errors="*{congenitalAnomaly}">Required</span>
                                    </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label required-field"
                                       th:text="#{label.diagnosis.neoplastic}"> Neoplastic </label>

                                <div class="col-sm-2">
                                    <textarea class="form-control input-sm" th:field="*{neoplastic}"></textarea>

                                    <p class="text-danger"
                                       th:if="${#fields.hasErrors('neoplastic')}"><span th:errors="*{neoplastic}">Required</span>
                                    </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label required-field"
                                       th:text="#{label.diagnosis.postInfective}">
                                    Post Infective
                                </label>

                                <div class="col-sm-2">
                                        <textarea type="number" class="form-control input-sm"
                                                  th:field="*{postInfective}"></textarea>
                                    <p class="text-danger"
                                       th:if="${#fields.hasErrors('postInfective')}">
                                        <span th:errors="*{postInfective}">Required</span>
                                    </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label required-field"
                                       th:text="#{label.diagnosis.traumatic}">
                                    Traumatic
                                </label>

                                <div class="col-sm-2">
                                    <textarea  class="form-control input-sm" th:field="*{traumatic}"></textarea>
                                    <p class="text-danger"
                                       th:if="${#fields.hasErrors('traumatic')}">
                                        <span th:errors="*{traumatic}">Required</span>
                                    </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label required-field"
                                       th:text="#{label.diagnosis.aesthetic}">
                                    Aesthetic
                                </label>

                                <div class="col-sm-2">
                                        <textarea type="text" class="form-control input-sm"
                                                  th:field="*{aesthetic}"></textarea>
                                    <p class="text-danger"
                                       th:if="${#fields.hasErrors('aesthetic')}">
                                        <span th:errors="*{aesthetic}">Required</span>
                                    </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label required-field"
                                       th:text="#{label.comment}">
                                    Comment
                                </label>

                                <div class="col-sm-2">
                                        <textarea type="text" class="form-control input-sm"
                                                  th:field="*{comment}"></textarea>
                                    <p class="text-danger"
                                       th:if="${#fields.hasErrors('comment')}">
                                        <span th:errors="*{comment}">Required</span>
                                    </p>
                                </div>
                            </div>

                        </fieldset>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <a href="#" class="btn btn-danger"
                                   th:href="@{/chiefcomplaints/cancel/__${diagnosis.register.id}__}"> <span
                                        th:text="#{label.cancel}">Cancel</span>
                                </a>
                                <button type="submit" class="btn btn-primary" th:text="#{label.save.changes}">Save
                                    Changes
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<div layout:fragment="custom-scripts">
    <div layout:include="layout/common-fragment :: date-picker-scripts"/>
</div>

</body>
</html>
