<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<head>
    <title>Diagnosis List :: MediNetServices</title>
</head>

<body>
<section layout:fragment="content">

    <div th:if="${message}" class="alert alert-info">
        <p th:text="${message}"></p>
    </div>

    <h3>Diagnosis List</h3>

    <table class="table table-bordered">
        <tr>
            <th>Entry On</th>
            <th>Chief Complain(s)</th>
            <th>Edit</th>
        </tr>

        <tr th:each="diagnosis : ${diagnosisList}">
            <td th:text="${diagnosis.entryDate} ? ${#dates.format(diagnosis.entryDate,'dd-MMM-yyyy')}">Created On</td>
            <td th:text="${diagnosis.chiefComplain}">Chief Complain(s)</td>
            <td><a th:href="@{/diagnosis/edit/__${diagnosis.id}__}">Edit</a></td>
        </tr>
    </table>
</section>
</body>
</html>