<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>

<div layout:fragment="date-picker-scripts">
    <script src="../../../resources/js/bootstrap-datepicker.js"
            th:src="@{/resources/js/bootstrap-datepicker.js}"></script>

    <script>
        $('.show-date-picker').datepicker({
            format: "dd/mm/yyyy",
            todayHighlight: true,
            autoclose: true
        });
    </script>
</div>

</body>
</html>