<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>

<div layout:fragment="date-picker-scripts">
    <script src="../../../resources/js/bootstrap-datepicker.js"
            th:src="@{/resources/js/bootstrap-datepicker.js}"></script>

    <script>
        $('.show-date-picker').datepicker({
            format: "dd/mm/yyyy",
            todayHighlight: true,
            autoclose: true
        });
    </script>
</div>

<div layout:fragment="pagination">
    <div class="pager">
        <ul>
            <li th:class="${page.firstPage}? 'disabled' : ''">
                <span th:if="${page.firstPage}">&#8592; First</span>
                <a th:if="${not page.firstPage}" th:href="@{${page.url}(page=0,size=${page.size})}">&#8592;
                    First</a>
            </li>
            <li th:class="${page.hasPreviousPage}? '' : 'disabled'">
                <span th:if="${not page.hasPreviousPage}">&laquo;</span>
                <a th:if="${page.hasPreviousPage}"
                   th:href="@{${page.url}(page=${page.number -1},size=${page.size})}"
                   title="Go to previous page">&laquo;</a>
            </li>
            <li th:each="item : ${page.items}" th:class="${item.current}? 'active' : ''">
                <span th:if="${item.current}" th:text="${item.number}">1</span>
                <a th:if="${not item.current}"
                   th:href="@{${page.url}(page=${item.number},size=${page.size})}"><span
                        th:text="${item.number}">1</span></a>
            </li>
            <li th:class="${page.hasNextPage}? '' : 'disabled'">
                <span th:if="${not page.hasNextPage}">&raquo;</span>
                <a th:if="${page.hasNextPage}"
                   th:href="@{${page.url}(page=${page.number +1},size=${page.size})}"
                   title="Go to next page">&raquo;</a>
            </li>
            <li th:class="${page.lastPage}? 'disabled' : ''">
                <span th:if="${page.lastPage}">Last &#8594;</span>
                <a th:if="${not page.lastPage}"
                   th:href="@{${page.url}(page=${page.totalPages - 1},size=${page.size})}">Last &#8594; </a>
            </li>
        </ul>
    </div>
</div>

<div layout:fragment="patient-info">
    <div class="col-sm-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-sm-8 col-md-8">
                    <h3 class="text-primary"><a th:href="@{/patient/details/__${patient.id}__}"> <span
                            th:text="${patient.name}">Bazlur Rahman Rokon</span></a>
                        <small th:if="${patient.gender}" th:text="${patient.gender.label}">Male</small>
                        <small th:text="${patient.dateOfBirth} ? ${#dates.format(patient.dateOfBirth,'dd/MM/yyyy')}"></small>
                        <strong>
                            <small id="then" th:attr="data-date=${patient.dateOfBirth}"></small>
                        </strong>
                        <small th:if="${patient.birthdateEstimated}" class="badge">Est.</small>
                        <small><a sec:authorize="hasRole('ROLE_ADMIN')"
                                  th:href="@{/patient/edit/__${patient.id}__}">Edit</a>
                        </small>
                    </h3>
                </div>
                <div class="col-sm-6 col-md-4">
                    <p class="text-right">
                        <i>Health ID</i> : <strong class="badge" th:text="${patient.healthId}"></strong>
                        <br/>
                        <i th:if="${register}">Registration No : </i><span th:if="${register}"> <strong
                            class="badge" th:text="${register.registrationId}"></strong> </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div layout:fragment="opd-register">

    <div class="" style="margin-top: 0">
        <div class="list-group">

            <a href="#" class="list-group-item" th:classappend="${page == 'registration' ? 'active' : ''}"
               th:href="@{/register/opd/__${register.id}__}">
                <i class="fa fa-user-md fa-fw"></i> <span class="">Registration </span><span class="fa arrow"></span>
                <span class="pull-right" id="slide-submenu"> </span>
            </a>

            <a class="list-group-item" th:classappend="${page == 'diagnosis' ? 'active' : ''}"
               th:href="@{/register/diagnosis/__${register.id}__?registrationType=OUTDOOR}">
                <i class="fa fa-user-md fa-fw"></i>Diagnosis<span class="fa arrow"></span>
            </a>
            <a class="list-group-item" th:classappend="${page == 'treatmentplan' ? 'active' : ''}"
               th:href="@{/register/treatmentplan/__${register.id}__?registrationType=OUTDOOR}">
                <i class="fa fa-info fa-fw"></i>Plan of RX<span class="fa arrow"></span>
            </a>

            <a class="list-group-item" th:classappend="${page == 'examination' ? 'active' : ''}"
               th:href="@{/register/examination/__${register.id}__?registrationType=OUTDOOR}">
                <i class="fa fa-info fa-fw"></i>Examination<span class="fa arrow"></span>
            </a>

            <a class="list-group-item" th:classappend="${page == 'chiefcomplaints' ? 'active' : ''}"
               th:href="@{/register/chiefcomplaints/__${register.id}__?registrationType=OUTDOOR}">
                <i class="fa fa-info fa-fw"></i>Chief Complaint<span class="fa arrow"></span>
            </a>

            <a class="list-group-item" th:href="@{#}">
                <i class="fa fa-info fa-fw"></i>Picture Information<span class="fa arrow"></span>
            </a>

            <a class="list-group-item" th:classappend="${page == 'vital' ? 'active' : ''}"
               th:href="@{/register/vitals/__${register.id}__?registrationType=OUTDOOR}">
                <i class="fa fa-stethoscope fa-fw"></i>Vital<span class="fa arrow"></span>
            </a>

            <a class="list-group-item" th:classappend="${page == 'visit' ? 'active' : ''}"
               th:href="@{/register/visits/__${register.id}__?registrationType=OUTDOOR}">
                <i class="fa fa-stethoscope fa-fw"></i>Visit Notes<span class="fa arrow"></span>
            </a>

            <a class="list-group-item" th:href="@{#}">
                <i class="fa fa-info fa-fw"></i>Outcome<span class="fa arrow"></span>
            </a>
            <a class="list-group-item" th:href="@{#}">
                <i class="fa fa-info fa-fw"></i>Remarks<span class="fa arrow"></span>
            </a>
        </div>
    </div>
</div>


</body>
</html>