<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>

<div layout:fragment="date-picker-scripts">
    <script src="../../../resources/js/bootstrap-datepicker.js"
            th:src="@{/resources/js/bootstrap-datepicker.js}"></script>

    <script>
        $('.show-date-picker').datepicker({
            format: "dd/mm/yyyy",
            todayHighlight: true,
            autoclose: true
        });
    </script>
</div>

<div layout:fragment="pagination">
    <div class="pager">
        <ul>
            <li th:class="${page.firstPage}? 'disabled' : ''">
                <span th:if="${page.firstPage}">&#8592; First</span>
                <a th:if="${not page.firstPage}" th:href="@{${page.url}(page=0,size=${page.size})}">&#8592;
                    First</a>
            </li>
            <li th:class="${page.hasPreviousPage}? '' : 'disabled'">
                <span th:if="${not page.hasPreviousPage}">&laquo;</span>
                <a th:if="${page.hasPreviousPage}"
                   th:href="@{${page.url}(page=${page.number -1},size=${page.size})}"
                   title="Go to previous page">&laquo;</a>
            </li>
            <li th:each="item : ${page.items}" th:class="${item.current}? 'active' : ''">
                <span th:if="${item.current}" th:text="${item.number}">1</span>
                <a th:if="${not item.current}"
                   th:href="@{${page.url}(page=${item.number},size=${page.size})}"><span
                        th:text="${item.number}">1</span></a>
            </li>
            <li th:class="${page.hasNextPage}? '' : 'disabled'">
                <span th:if="${not page.hasNextPage}">&raquo;</span>
                <a th:if="${page.hasNextPage}"
                   th:href="@{${page.url}(page=${page.number +1},size=${page.size})}"
                   title="Go to next page">&raquo;</a>
            </li>
            <li th:class="${page.lastPage}? 'disabled' : ''">
                <span th:if="${page.lastPage}">Last &#8594;</span>
                <a th:if="${not page.lastPage}"
                   th:href="@{${page.url}(page=${page.totalPages - 1},size=${page.size})}">Last &#8594; </a>
            </li>
        </ul>
    </div>
</div>

<div layout:fragment="opd-register">

    <div class="" style="margin-top: 0">
        <div class="list-group">

            <a href="#" class="list-group-item active" th:href="@{/register/opd/__${register.id}__}">
                <span class="text-uppercase">Registration </span>
                <span class="pull-right" id="slide-submenu"> </span>
            </a>

            <a class="list-group-item" th:href="@{/register/diagnosis/__${register.id}__?registrationType=OUTDOOR}">
                <i class="fa fa-user-md fa-fw"></i>Diagnosis<span class="fa arrow"></span>
            </a>
            <a class="list-group-item" th:href="@{/register/treatmentplan/__${register.id}__?registrationType=OUTDOOR}">
                <i class="fa fa-info fa-fw"></i>Plan of RX<span class="fa arrow"></span>
            </a>

            <a class="list-group-item" th:href="@{/register/examination/__${register.id}__?registrationType=OUTDOOR}">
                <i class="fa fa-info fa-fw"></i>Examination<span class="fa arrow"></span>
            </a>

            <a class="list-group-item" th:href="@{#}">
                <i class="fa fa-info fa-fw"></i>Chief Complaint<span class="fa arrow"></span>
            </a>

            <a class="list-group-item" th:href="@{#}">
                <i class="fa fa-info fa-fw"></i>Picture Information<span class="fa arrow"></span>
            </a>

            <a class="list-group-item" th:href="@{#}">
                <i class="fa fa-info fa-fw"></i>Visit<span class="fa arrow"></span>
            </a>

            <a class="list-group-item" th:href="@{#}">
                <i class="fa fa-info fa-fw"></i>Outcome<span class="fa arrow"></span>
            </a>
            <a class="list-group-item" th:href="@{#}">
                <i class="fa fa-info fa-fw"></i>Remarks<span class="fa arrow"></span>
            </a>
        </div>
    </div>
</div>


</body>
</html>