<!DOCTYPE html>
<html>

<head>
    <title>Edit User :: MediNetServices</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="../../../resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}" media="screen"
          rel="stylesheet"/>
    <link href="../../../resources/css/main.css" th:href="@{/resources/css/main.css}" rel="stylesheet"/>
    <script src="../../../resources/js/jquery-1.11.1.min.js"  th:scr="@{/resources/js/jquery-1.11.1.min.js}" ></script>
</head>
<body>

<div class="container-narrow">
    <div th:replace="fragments/header :: header"></div>
    <hr/>

    <div class="row">
        <form class="form-horizontal" role="form" th:object="${user}" th:action="@{/user/update}" method="POST">

            <input type="text" th:field="*{id}" hidden="true"/>
            <input type="text" th:field="*{version}" hidden="true"/>

            <div class="form-group">
                <label for="username" class="col-sm-2 control-label" th:text="#{label.user.username}">Username</label>

                <div class="col-sm-6">
                    <input type="text" th:field="*{username}" class="form-control" readonly="true"/>
                    <p class="text-danger" th:if="${#fields.hasErrors('username')}"><span th:errors="*{username}">Username required!</span> </p>
                </div>
            </div>

            <div class="form-group">
                <label for="password" class="col-sm-2 control-label" th:text="#{label.user.password}">Password</label>
                <div class="col-sm-6">
                    <input type="text" th:field="*{password}" class="form-control"/>
                    <p class="text-danger" th:if="${#fields.hasErrors('password')}"><span th:errors="*{password}">Password required!</span> </p>
                </div>
            </div>

            <div class="form-group">
                <label for="email" class="col-sm-2 control-label" th:text="#{label.user.email}">Email</label>

                <div class="col-sm-6">
                    <input type="text" th:field="*{email}" class="form-control"/>
                    <p class="text-danger" th:if="${#fields.hasErrors('email')}"><span th:errors="*{email}">Email required!</span> </p>
                </div>
            </div>

            <div class="form-group">
                <label for="phoneNumber" class="col-sm-2 control-label" th:text="#{label.user.phoneNumber}">Phone Number </label>

                <div class="col-sm-6">
                    <input type="text" th:field="*{phoneNumber}" class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <label for="phoneNumber" class="col-sm-2 control-label" th:text="#{label.user.role}">Phone Number </label>

                <div class="col-sm-6">
                    <div th:each="role : ${T(org.jugbd.mnet.domain.enums.Role).values()}">
                        <input type="checkbox" th:field="*{roles}" th:value="${role}"/>
                        <label th:text="${role}">example</label>
                    </div>
                    <p class="text-danger" th:if="${#fields.hasErrors('roles')}"><span th:errors="*{roles}">Role required!</span> </p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <a href="#" class="btn btn-danger" th:href="@{/user/cancel}" > <span th:text="#{label.cancel}">Cancel</span> </a>
                    <button type="submit" class="btn btn-primary" th:text="#{button.save}">Save Changes</button>
                </div>
            </div>
        </form>
    </div>

    <hr/>
    <div class="row">
        <div th:replace="fragments/footer :: footer"/>
    </div>
</div>
</body>
</html>