<!DOCTYPE html>
<html>

<head>
    <title>Users :: MediNetServices</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="../../../resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}" media="screen"
          rel="stylesheet"/>
    <link href="../../../resources/css/main.css" th:href="@{/resources/css/main.css}" rel="stylesheet"/>
</head>
<body>

<div class="container-narrow">
    <div th:replace="fragments/header :: header"></div>
    <hr/>

    <div class="row">
        <fieldset>
            <legend><span th:text="#{label.user.list}">User List</span></legend>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${users}">
                    <td><a href="#" class="btn btn-info" th:href="'/user/show/' + ${item.id}"> Edit </a></td>
                    <td th:text="${item.username}"></td>
                    <td th:text="${item.email}"></td>
                    <td th:text="${item.phoneNumber}"></td>
                </tr>
                </tbody>
            </table>
        </fieldset>
    </div>

    <hr/>
    <div class="row">
        <div th:replace="fragments/footer :: footer"/>
    </div>
</div>
</body>
</html>