<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<head>
    <title>Users :: MediNetServices</title>
</head>
<body>

<section layout:fragment="content">

    <div>
        <a href="#" class="btn btn-info" th:href="@{/user/create}"> Create New User </a>
    </div>
    <hr/>

    <fieldset>
        <legend><span th:text="#{label.user.list}">User List</span></legend>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Role(s)</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${users}">
                <td><a href="#" th:href="'/user/show/' + ${item.id}"> Show </a></td>
                <td th:text="${item.username}"></td>
                <td th:text="${item.email}"></td>
                <td th:text="${item.phoneNumber}"></td>
                <td th:text="${item.roles}"></td>
            </tr>
            </tbody>
        </table>
    </fieldset>
</section>
</body>
</html>