<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<head>
    <title>Home Page :: MediNetServices</title>
</head>

<body>
<section layout:fragment="content">
    <div>
        <a href="#" class="btn btn-info" th:href="@{/patient/create}"> Intake New Patient </a>
    </div>
    <hr/>

    <div th:if="${message}" class="alert alert-info">
        <p th:text="${message}"></p>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Patient List</div>
        <div class="panel-body">

            <table class="table table-hover">
                <tr>
                    <th>#</th>
                    <th>Health ID</th>
                    <th>Patient Name</th>
                    <th>Gender</th>
                </tr>

                <tr th:each="patient : ${patients}">
                    <td><a th:href="@{/patient/show/__${patient.id}__}">Show</a></td>
                    <td th:text="${patient.healthId}">>Health ID</td>
                    <td th:text="${patient.name}">Patient Name</td>
                    <div th:if="${patient.gender}">
                        <td th:text="${patient.gender.label}"></td>
                    </div>
                </tr>
            </table>
        </div>
    </div>
</section>
</body>
</html>