<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<head>
    <title>Home Page :: MediNetServices</title>
</head>

<body>

<section layout:fragment="content">
    <div id="page-wrapper">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Patient List</h1>
            </div>
        </div>

        <div class="row">

            <div>
                <a href="#" class="btn btn-info" th:href="@{/patient/create}"> Intake New Patient </a>
            </div>
            <hr/>

            <div th:if="${message}" class="alert alert-info">
                <p th:text="${message}"></p>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Patient List</div>

                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Health ID</th>
                        <th>Patient Name</th>
                        <th>Contact Number</th>
                        <th>Gender</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="patient : ${page.content}">
                        <td><a th:href="@{/patient/show/__${patient.id}__}">Open</a></td>
                        <td th:text="${patient.healthId}">>Health ID</td>
                        <td th:text="${patient.name}">Patient Name</td>
                        <td th:text="${patient.contactNumber}">Contact Number</td>
                        <td th:text="${patient.gender.label}">Gender</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="pager">
                <ul>
                    <li th:class="${page.firstPage}? 'disabled' : ''">
                        <span th:if="${page.firstPage}">&#8592; First</span>
                        <a th:if="${not page.firstPage}" th:href="@{${page.url}(page=0,size=${page.size})}">&#8592;
                            First</a>
                    </li>
                    <li th:class="${page.hasPreviousPage}? '' : 'disabled'">
                        <span th:if="${not page.hasPreviousPage}">&laquo;</span>
                        <a th:if="${page.hasPreviousPage}"
                           th:href="@{${page.url}(page=${page.number -1},size=${page.size})}"
                           title="Go to previous page">&laquo;</a>
                    </li>
                    <li th:each="item : ${page.items}" th:class="${item.current}? 'active' : ''">
                        <span th:if="${item.current}" th:text="${item.number}">1</span>
                        <a th:if="${not item.current}"
                           th:href="@{${page.url}(page=${item.number},size=${page.size})}"><span
                                th:text="${item.number}">1</span></a>
                    </li>
                    <li th:class="${page.hasNextPage}? '' : 'disabled'">
                        <span th:if="${not page.hasNextPage}">&raquo;</span>
                        <a th:if="${page.hasNextPage}"
                           th:href="@{${page.url}(page=${page.number +1},size=${page.size})}"
                           title="Go to next page">&raquo;</a>
                    </li>
                    <li th:class="${page.lastPage}? 'disabled' : ''">
                        <span th:if="${page.lastPage}">Last &#8594;</span>
                        <a th:if="${not page.lastPage}"
                           th:href="@{${page.url}(page=${page.totalPages - 1},size=${page.size})}">Last &#8594; </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
</body>
</html>