<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<head>
    <title>Search Patient :: mNetServices</title>
</head>

<body>
<section layout:fragment="content">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Search a Patient</h2>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
        <div class="panel-heading"><span th:text="#{label.search.patient.info}">Search Patient</span>
        </div>
        <div class="panel-body">

            <div th:if="${error}" class="alert alert-danger">
                <p th:text="${error}"></p>
            </div>

            <div th:if="${notFound}" class="alert alert-danger">
                <p th:text="${notFound}"></p>

                <p sec:authorize="hasRole('ROLE_ADMIN')" style="text-decoration: underline;"><a
                        th:href="@{/patient/create}">Create New Patient</a></p>
            </div>

            <form class="form-horizontal" role="form" th:object="${patientSearchCmd}" th:action="@{display}"
                  method='get'>

                <div class="form-group">
                    <label for="healthId" class="col-sm-2 control-label" th:text="#{label.patient.health.id}">Health
                        Id: </label>

                    <div class="col-sm-3">
                        <input type="text" class="form-control input" id="healthId" th:field="*{healthId}"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="phoneNumber" class="col-sm-2 control-label" th:text="#{label.patient.phone.number}">Phone
                        Number</label>

                    <div class="col-sm-3">
                        <input type="text" class="form-control input" id="phoneNumber" th:field="*{phoneNumber}"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label" th:text="#{label.patient.name}">Patient
                        Name</label>

                    <div class="col-sm-3">
                        <input type="text" class="form-control input" id="name" th:field="*{name}"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label" th:text="#{label.register.id}">Register ID</label>

                    <div class="col-sm-3">
                        <input type="text" class="form-control input" id="registerId" th:field="*{registerId}"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Diagnosis</label>

                    <div class="col-sm-3">
                        <input type="text" class="form-control input" id="diagnosis" th:field="*{diagnosis}"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="reset" class="btn btn-danger" th:text="#{button.reset}">Reset</button>
                        <button type="submit" class="btn btn-primary" th:text="#{button.search}">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
        </div>
    </div>
</section>
</body>
</html>