<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">

<head>
    <title th:text="${patient.name}">Show Patient</title>
</head>

<body>
<section layout:fragment="content">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Patient Diagnosis Information</h2>
            </div>
        </div>
        <div class="row">
            <div th:if="${message}" class="alert alert-info">
                <p th:text="${message}"></p>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-sm-8 col-md-8">
                                <h3 class="text-primary"><a th:href="@{/patient/details/__${patient.id}__}"> <span
                                        th:text="${patient.name}">Bazlur Rahman Rokon</span></a>
                                    <small th:if="${patient.gender}" th:text="${patient.gender.label}">Male</small>
                                    <small th:text="${patient.age}"></small>
                                    <small> year(s)</small>
                                    <small th:text="${patient.dateOfBirth} ? ${#dates.format(patient.dateOfBirth,'dd-MMM-yyyy')}"></small>
                                    <small th:if="${patient.birthdateEstimated}" class="badge">Est.</small>
                                    <small><a sec:authorize="hasRole('ROLE_ADMIN')"
                                              th:href="@{/patient/edit/__${patient.id}__}">Edit</a>
                                    </small>
                                </h3>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <p class="text-right">
                                    <i>Health ID</i> : <strong class="badge" th:text="${patient.healthId}"></strong>
                                    <br/>
                                    <i th:if="${register}">Registration No : </i><span th:if="${register}"> <strong
                                        class="badge" th:text="${register.registrationId}"></strong> </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:if="${register}">
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Registration Info</div>
                            <div class="panel-body">
                                Active since <span
                                    th:text="${register.startDatetime} ? ${#dates.format(register.startDatetime,'dd-MMM-yyyy hh:mm:ss')}"></span><br/>
                                <strong>Emergency Contact -</strong><br/>
                                <ul>
                                    <li>Contact Person :<span
                                            th:text="${register.patientContact.contactPerson} ? ${register.patientContact.contactPerson}"> </span>
                                    </li>
                                    <li>Relationship: <span
                                            th:text="${register.patientContact.relationship} ? ${register.patientContact.relationship.label}"> </span>
                                    </li>
                                    <li>Contact Number: <span
                                            th:text="${register.patientContact.emergencyContactNumber} ? ${register.patientContact.emergencyContactNumber}"></span>
                                    </li>
                                </ul>
                                <a th:href="@{/register/admitPatient/}" class="btn btn-info"> Admit Patient</a>
                                <a th:href="@{#}" class="btn btn-info" onclick="closeRegister();"> Close Patient</a>

                                <script type="text/javascript">
                                    function closeRegister() {
                                        if (confirm("Are you sure? ")) {
                                            $("#close-register").submit();
                                        }
                                    }
                                </script>

                                <form style="visibility: hidden" th:id="close-register" method="post" action="#"
                                      th:action="@{/register/close/__${register.id}__}">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Diagnosis</div>
                            <div class="panel-body">
                                <div th:if="${register.diagnoses.size() == 0}">
                                    <h3 class="text-primary">No active diagnosis found</h3>
                                </div>
                                <div>
                                    <ul class="list-group" th:each="diagnosis : ${register.diagnoses}">
                                        <li class="list-group-item"><span th:text="${diagnosis.chiefComplain}"></span>
                                            <a th:href="@{/diagnosis/show/__${diagnosis.id}__}">Open</a></li>
                                    </ul>
                                </div>

                                <a class="btn btn-info" th:href="@{/diagnosis/create/__${register.id}__}">Add New</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Vital</div>
                            <div class="panel-body">
                                <div th:if="${lastVital == null}">
                                    <h3 class="text-primary">No active vital found</h3>
                                </div>

                                <div th:if="${lastVital != null}">
                                    <h4 class="text-primary">Last Vitals - <span
                                            th:text="${#dates.format(lastVital.createdDate.toDate(),'dd MMMM yyyy h:mm a')}"></span>
                                    </h4>

                                    <table class="table">
                                        <tr>
                                            <td>Height</td>
                                            <td th:text="${lastVital.height} ? ${lastVital.height + 'cm'}"></td>
                                        </tr>

                                        <tr>
                                            <td>Weight</td>
                                            <td th:text="${lastVital.weight} ? ${lastVital.weight + 'kg'}"></td>
                                        </tr>

                                        <tr class="dl-horizontal">
                                            <td>Calculated BMI</td>
                                            <td th:text="${lastVital.bmi} ? ${lastVital.bmi }"></td>
                                        </tr>

                                        <tr class="dl-horizontal">
                                            <td>Temperature (&deg;F)</td>
                                            <td th:text="${lastVital.temperature} ? ${lastVital.temperature}"></td>
                                        </tr>

                                        <tr class="dl-horizontal">
                                            <td>Pulse</td>
                                            <td th:text="${lastVital.weight} ? ${lastVital.weight + '/min'}"></td>
                                        </tr>

                                        <tr class="dl-horizontal">
                                            <td>Respiratory Rate</td>
                                            <td th:text="${lastVital.respiratoryRate} ? ${lastVital.respiratoryRate + '/min'}"></td>
                                        </tr>

                                        <tr class="dl-horizontal">
                                            <td>Blood Pressure</td>
                                            <td>
                                                <span th:text="${lastVital.systolic} ? ${lastVital.systolic }"></span>&MediumSpace;/
                                                <span th:text="${lastVital.diastolic} ? ${lastVital.diastolic }"></span>
                                            </td>
                                        </tr>

                                        <tr class="dl-horizontal">
                                            <td>Blood Oxygen Saturation</td>
                                            <td th:text="${lastVital.bloodOxygenSaturation} ? ${lastVital.bloodOxygenSaturation + '%'}"></td>
                                        </tr>
                                    </table>
                                </div>

                                <br/>
                                <a class="btn btn-info" th:href="@{/vital/create/__${register.id}__}">Add New</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Outcome(s)</div>
                            <div class="panel-body">
                                <h3 class="text-primary">No active outcome found</h3>
                                <a class="btn btn-info" th:href="@{/register/diagnosis/__${register.id}__}">Add New</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:unless="${register}" class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Register</div>
                        <div class="panel-body">
                            <h3 class="text-primary">This patient has not any active register</h3>
                            <a class="btn btn-info" th:href="@{/register/patient/__${patient.id}__}">Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>
