<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<head>
    <title>Chief Complaint :: <span th:text="${registrationType.label}"/> Registration</title>
</head>
<body>

<section layout:fragment="content">
    <div id="page-wrapper">
        <div class="row clearfix">
            <div class="col-lg-12">
                <h2 class="page-header"><span th:text="${registrationType.label}"/> Registration</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-sm-8 col-md-8">
                            <h3 class="text-primary"><a th:href="@{/patient/details/__${patient.id}__}"> <span
                                    th:text="${patient.name}">Bazlur Rahman Rokon</span></a>
                                <small th:if="${patient.gender}" th:text="${patient.gender.label}">Male</small>
                                <small th:text="${patient.dateOfBirth} ? ${#dates.format(patient.dateOfBirth,'dd/MM/yyyy')}"></small>
                                <strong>
                                    <small id="then" th:attr="data-date=${patient.dateOfBirth}"></small>
                                </strong>
                                <small th:if="${patient.birthdateEstimated}" class="badge">Est.</small>
                                <small><a sec:authorize="hasRole('ROLE_ADMIN')"
                                          th:href="@{/patient/edit/__${patient.id}__}">Edit</a>
                                </small>
                            </h3>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <p class="text-right">
                                <i>Health ID</i> : <strong class="badge" th:text="${patient.healthId}"></strong>
                                <br/>
                                <i th:if="${register}">Registration No : </i><span th:if="${register}"> <strong
                                    class="badge" th:text="${register.registrationId}"></strong> </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">

            <div class="col-lg-3 col-md-4">
                <div layout:include="layout/common-fragment :: opd-register"></div>
            </div>

            <div class="col-lg-9 col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">Chief Complaint :: <span th:text="${registrationType.label}"/></div>

                    <div class="panel-body">

                    </div>

                    <div class="panel-footer clearfix">

                        <div th:if="${register.chiefComplaint == null}">
                            <a class="btn btn-sm btn-info pull-right"
                               th:href="@{/chiefcomplaints/create/__${register.id}__?registrationType=}+ ${registrationType}"><span
                                    class="glyphicon glyphicon-plus"></span> Add New</a>
                        </div>

                        <div th:unless="${register.chiefComplaint == null}">
                            <a href="#" class="btn btn-sm btn-info pull-right"
                               th:href="@{/chiefcomplaints/edit/__${register.chiefComplaint.id}__?registrationType=} +${registrationType}"> <span
                                    class="glyphicon glyphicon-edit"></span> Edit </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div layout:fragment="custom-scripts">
    <script src="../../../js/moment.js" th:src="@{/resources/js/moment.js}"></script>
    <script>
        $(document).ready(function () {
            var then = $('#then'),
                    date = moment(new Date(then.attr('data-date'))),
                    update = function () {
                        then.html(date.fromNow(true));
                    };
            update();
            setInterval(update, 60000);
        });
    </script>
</div>

</body>
</html>
