<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<head>
    <title>Diagnosis</title>
    <link href="../../../resources/css/datepicker3.css" th:href="@{/resources/css/datepicker3.css}" rel="stylesheet"/>

</head>
<body th:with="page='diagnosis'">

<section layout:fragment="content">
    <div id="page-wrapper">
        <div class="row clearfix">
            <div class="col-lg-12">
                <h2 class="page-header"><span th:text="${registrationType.label}"></span> Registration</h2>
            </div>
        </div>

        <div class="row">
            <div layout:include="layout/common-fragment :: patient-info"></div>
        </div>

        <div class="row clearfix">

            <div class="col-lg-3 col-md-4">
                <div th:if="${#strings.toString(registrationType).toUpperCase() == 'INDOOR'}">
                    <div layout:include="layout/common-fragment :: ipd-register"></div>
                </div>
                <div th:if="${#strings.toString(registrationType).toUpperCase() == 'OUTDOOR'}">
                    <div layout:include="layout/common-fragment :: opd-register"></div>
                </div>
            </div>

            <div class="col-lg-9 col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">Diagnosis :: <span th:text="${registrationType.label}"></span></div>
                    <div class="panel-body">

                        <div th:if="${register.diagnosis == null}">
                            <h3 class="text-primary">No Diagnosis found</h3>
                        </div>

                        <div th:if="${register.diagnosis != null}">
                            <table class="table table-condensed">
                                <tr>
                                    <td><strong>ICD10</strong></td>
                                            <span th:if="${register.diagnosis.icd10}"> <td
                                                    th:text="${register.diagnosis.icd10}"></td> </span>
                                </tr>

                                <tr>
                                    <td><strong>Burn</strong></td>
                                            <span th:if="${register.diagnosis.burns}">
                                                <td>
                                                    <span th:text="${register.diagnosis.burns.percentage} ? ${register.diagnosis.burns.percentage} + '%' "></span>&nbsp;&nbsp;
                                                    <span th:text="${register.diagnosis.burns.conditions} ? 'Condition - ' + ${register.diagnosis.burns.conditions.label}"></span>&nbsp;&nbsp;
                                                    <span th:text="${register.diagnosis.burns.daysOld} ? ${register.diagnosis.burns.daysOld} + ' day(s) old' "></span>&nbsp;&nbsp;
                                                </td>
                                            </span>
                                </tr>

                                <tr>
                                    <td><strong>Congenital Anomaly</strong></td>
                                            <span th:if="${register.diagnosis.congenitalAnomaly}"> <td
                                                    th:text="${register.diagnosis.congenitalAnomaly}"></td> </span>
                                </tr>

                                <tr>
                                    <td><strong>Neoplastic</strong></td>
                                            <span th:if="${register.diagnosis.neoplastic}"> <td
                                                    th:text="${register.diagnosis.neoplastic}"></td> </span>
                                </tr>

                                <tr>
                                    <td><strong>Post Infective</strong></td>
                                            <span th:if="${register.diagnosis.postInfective}"> <td
                                                    th:text="${register.diagnosis.postInfective}"></td> </span>
                                </tr>

                                <tr>
                                    <td><strong>Traumatic</strong></td>
                                            <span th:if="${register.diagnosis.traumatic}"> <td
                                                    th:text="${register.diagnosis.traumatic}"></td> </span>
                                </tr>

                                <tr>
                                    <td><strong>Aesthetic</strong></td>
                                            <span th:if="${register.diagnosis.aesthetic}"> <td
                                                    th:text="${register.diagnosis.aesthetic}"></td> </span></tr>

                                <tr>
                                    <td><strong>Comment</strong></td>
                                            <span th:if="${register.diagnosis.comment}"><td
                                                    th:text="${register.diagnosis.comment}"></td> </span>
                                </tr>

                            </table>
                        </div>
                    </div>
                    <div class="panel-footer clearfix">
                        <div th:if="${#strings.toString(register.status).toUpperCase() == 'ACTIVE'}">
                            <div th:if="${register.diagnosis == null}">
                                <a class="btn btn-sm btn-info pull-right"
                                   th:href="@{/diagnosis/create/__${register.id}__?registrationType=}+ ${registrationType}"><span
                                        class="glyphicon glyphicon-plus"></span> Add New</a>
                            </div>

                            <div th:unless="${register.diagnosis == null}">
                                <a href="#" class="btn btn-sm btn-info pull-right"
                                   th:href="@{/diagnosis/edit/__${register.diagnosis.id}__?registrationType=} +${registrationType}"> <span
                                        class="glyphicon glyphicon-edit"></span> Edit </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div layout:fragment="custom-scripts">
    <script src="../../../resources/js/bootstrap-datepicker.js"
            th:src="@{/resources/js/bootstrap-datepicker.js}"></script>
</div>
</body>
</html>