<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<head>
    <title>Remarks :: <span th:text="${registrationType.label}"/> Registration</title>
</head>
<body th:with="page='remarks'">

<section layout:fragment="content">
    <div id="page-wrapper">
        <div class="row clearfix">
            <div class="col-lg-12">
                <h2 class="page-header"><span th:text="${registrationType.label}"/> Registration</h2>
            </div>
        </div>

        <div class="row">
            <div layout:include="layout/common-fragment :: patient-info"></div>
        </div>

        <div class="row clearfix">

            <div class="col-lg-3 col-md-4">
                <div layout:include="layout/common-fragment :: opd-register"></div>
            </div>

            <div class="col-lg-9 col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">Remarks :: <span th:text="${registrationType.label}"/></div>

                    <div class="panel-body">
                        <div th:if="${edit == true}">
                            <form id="remarks-from" class="form-horizontal" method='POST'
                                  th:action="@{/register/edit-remarks/__${registerId}__?registrationType=}+${registrationType}">
                                <div class="form-group required">
                                    <div style="margin: 15px">
                                    <textarea type="text" class="form-control"
                                              style="text-align: justify; white-space: normal;"
                                              required="required" rows="5"
                                              id="remarks"
                                              name="remarks"
                                              th:inline="text"
                                              data-bv-notempty="true">
                                        <span th:unless="${#strings.isEmpty(register.remarks)}">
                                                [[${register.remarks}]]
                                        </span>
                                    </textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div th:unless="${edit}">
                            <div th:if="${#strings.isEmpty(register.remarks)}">
                                <h3 class="text-primary">No remarks found</h3>
                            </div>
                            <div th:unless="${#strings.isEmpty(register.remarks)}">
                                <p th:text="${register.remarks}"></p>
                            </div>
                        </div>
                    </div>

                    <div class="panel-footer clearfix">
                        <div th:if="${#strings.toString(register.status).toUpperCase() == 'ACTIVE'}">
                            <div th:if="${edit == true}">
                                <a class="btn btn-sm btn-info pull-right"
                                   th:onclick="'javascript:saveOutcome();'">
                                    <span class="glyphicon glyphicon-plus"></span> Save</a>
                            </div>

                            <div th:unless="${edit}">

                                <div th:if="${#strings.isEmpty(register.remarks)}">
                                    <a class="btn btn-sm btn-info pull-right"
                                       th:href="@{/register/edit-remarks/__${register.id}__?registrationType=}+ ${registrationType}"><span
                                            class="glyphicon glyphicon-plus"></span> Add New</a>
                                </div>

                                <div th:unless="${#strings.isEmpty(register.remarks)}">
                                    <a href="#" class="btn btn-sm btn-info pull-right"
                                       th:href="@{/register/edit-remarks/__${register.id}__?registrationType=} +${registrationType}"> <span
                                            class="glyphicon glyphicon-edit"></span> Edit </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div layout:fragment="custom-scripts">
    <script type="text/javascript">
        function saveOutcome() {
            console.log("remarks");
            $("#remarks-from").submit();
        }
    </script>
</div>

</body>
</html>
