<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<head>
    <title>Examination</title>
</head>

<body>
<section layout:fragment="content">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">New Examination (
                    <span th:if="${registrationType == T(org.jugbd.mnet.domain.enums.RegistrationType).OUTDOOR}">
                        Outdoor Patient
                    </span>
                    <span th:if="${registrationType == T(org.jugbd.mnet.domain.enums.RegistrationType).INDOOR}">
                        Indoor Patient
                    </span>)</h2>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">New Examination</div>

                <form class="form-horizontal" method='POST' th:object="${examination}"
                      th:action="@{/examination/create?registrationType=}+ ${registrationType}">

                    <div class="panel-body">

                        <fieldset class="border">
                            <legend class="border"> General Examination</legend>

                            <div th:if="${registrationType == T(org.jugbd.mnet.domain.enums.RegistrationType).OUTDOOR}">
                                <input type="hidden" th:field="*{outdoorRegister.id}"/>
                            </div>

                            <div th:if="${registrationType == T(org.jugbd.mnet.domain.enums.RegistrationType).INDOOR}">
                                <input type="hidden" th:field="*{register.id}"/>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" th:text="#{label.examination.anaemia}">
                                    Anaemia
                                </label>

                                <div class="col-sm-3">
                                    <input type="checkbox" class="form-control checkbox input-sm"
                                           th:field="*{anaemia}"/>

                                    <p class="text-danger" th:if="${#fields.hasErrors('anaemia')}">
                                        <span th:errors="*{anaemia}">Required</span>
                                    </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" th:text="#{label.examination.jaundice}">
                                    Jaundice
                                </label>

                                <div class="col-sm-3">
                                    <input type="checkbox" class="form-control checkbox input-sm"
                                           th:field="*{jaundice}"/>

                                    <p class="text-danger" th:if="${#fields.hasErrors('anaemia')}">
                                        <span th:errors="*{jaundice}">Required</span>
                                    </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label"
                                       th:text="#{label.examination.accessible.lymph.node}">
                                    Accessible Lymph Node
                                </label>

                                <div class="col-sm-3">
                                    <input type="checkbox" class="form-control checkbox input-sm"
                                           th:field="*{accessibleLymphNode}"/>

                                    <p class="text-danger" th:if="${#fields.hasErrors('accessibleLymphNode')}">
                                        <span th:errors="*{accessibleLymphNode}">Required</span>
                                    </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" th:text="#{label.examination.dehydration}">
                                    Dehydration
                                </label>

                                <div class="col-sm-3">
                                    <input type="checkbox" class="form-control checkbox input-sm"
                                           th:field="*{dehydration}"/>

                                    <p class="text-danger" th:if="${#fields.hasErrors('dehydration')}">
                                        <span th:errors="*{dehydration}">Required</span>
                                    </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" th:text="#{label.examination.oelema}">
                                    Oelema
                                </label>

                                <div class="col-sm-3">
                                    <input type="checkbox" class="form-control checkbox input-sm"
                                           th:field="*{oelema}"/>

                                    <p class="text-danger" th:if="${#fields.hasErrors('oelema')}">
                                        <span th:errors="*{oelema}">Required</span>
                                    </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" th:text="#{label.examination.neckVein}">
                                    Neck Vein
                                </label>

                                <div class="col-sm-3">
                                    <input type="checkbox" class="form-control checkbox input-sm"
                                           th:field="*{neckVein}"/>

                                    <p class="text-danger" th:if="${#fields.hasErrors('neckVein')}">
                                        <span th:errors="*{neckVein}">Required</span>
                                    </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    General Examination Comments
                                </label>

                                <div class="col-sm-3">
                                    <textarea type="text" class="form-control" rows="3"
                                              th:field="*{gExaminationComments}"></textarea>

                                    <p class="text-danger" th:if="${#fields.hasErrors('gExaminationComments')}">
                                        <span th:errors="*{gExaminationComments}">Required</span>
                                    </p>
                                </div>
                            </div>

                        </fieldset>

                        <fieldset class="border">
                            <legend class="border">Local Examination</legend>

                            <div class="form-group">
                                <label class="col-sm-2 control-label"
                                       th:text="#{label.examination.local.examination}">
                                    Local Examination
                                </label>

                                <div class="col-sm-3">
                                    <textarea type="text" class="form-control" rows="3"
                                              th:field="*{listeningExamination}"></textarea>

                                    <p class="text-danger" th:if="${#fields.hasErrors('listeningExamination')}">
                                        <span th:errors="*{listeningExamination}">Required</span>
                                    </p>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset class="border">
                            <legend class="border">Systemic Examination</legend>

                            <div class="form-group">
                                <label class="col-sm-2 control-label"
                                       th:text="#{label.examination.respiratory.system}">
                                    Listening Examination
                                </label>

                                <div class="col-sm-3">
                                    <textarea type="text" class="form-control" rows="3"
                                              th:field="*{respiratorySystem}"></textarea>

                                    <p class="text-danger" th:if="${#fields.hasErrors('respiratorySystem')}">
                                        <span th:errors="*{respiratorySystem}">Required</span>
                                    </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label"
                                       th:text="#{label.examination.gi.system}">
                                    GI System
                                </label>

                                <div class="col-sm-3">
                                    <textarea type="text" class="form-control" rows="3"
                                              th:field="*{gISystem}"></textarea>

                                    <p class="text-danger" th:if="${#fields.hasErrors('gISystem')}">
                                        <span th:errors="*{gISystem}">Required</span>
                                    </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label"
                                       th:text="#{label.examination.cardivascular.system}">
                                    GI System
                                </label>

                                <div class="col-sm-3">
                                    <textarea type="text" class="form-control" rows="3"
                                              th:field="*{cardiovascularSystem}"></textarea>

                                    <p class="text-danger" th:if="${#fields.hasErrors('cardiovascularSystem')}">
                                        <span th:errors="*{cardiovascularSystem}">Required</span>
                                    </p>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-2 control-label"
                                       th:text="#{label.examination.urogenital.system}">
                                    Urogenital System
                                </label>

                                <div class="col-sm-3">
                                    <textarea type="text" class="form-control" rows="3"
                                              th:field="*{urogenitalSystem}"></textarea>

                                    <p class="text-danger" th:if="${#fields.hasErrors('urogenitalSystem')}">
                                        <span th:errors="*{urogenitalSystem}">Required</span>
                                    </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label"
                                       th:text="#{label.examination.nervous.system}">
                                    Nervous System
                                </label>

                                <div class="col-sm-3">
                                    <textarea type="text" class="form-control" rows="3"
                                              th:field="*{nervousSystem}"></textarea>

                                    <p class="text-danger" th:if="${#fields.hasErrors('nervousSystem')}">
                                        <span th:errors="*{nervousSystem}">Required</span>
                                    </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label"> Comments </label>

                                <div class="col-sm-3">
                                    <textarea type="text" class="form-control" rows="3"
                                              th:field="*{comments}"></textarea>

                                    <p class="text-danger" th:if="${#fields.hasErrors('comments')}">
                                        <span th:errors="*{comments}">Required</span>
                                    </p>
                                </div>
                            </div>

                        </fieldset>

                    </div>

                    <div class="panel-footer clearfix">

                        <a th:if="${registrationType == T(org.jugbd.mnet.domain.enums.RegistrationType).INDOOR}"
                           class="btn btn-danger"
                           th:href="@{/examination/cancel/__${examination.register.id}__?registrationType=} + ${registrationType}">
                            <i class="fa fa-arrow-left"></i> <span th:text="#{label.back}">Back</span>
                        </a>

                        <a th:if="${registrationType == T(org.jugbd.mnet.domain.enums.RegistrationType).OUTDOOR}"
                           class="btn btn-danger"
                           th:href="@{/register/examination/__${examination.outdoorRegister.id}__?registrationType=} + ${registrationType}">
                            <i class="fa fa-arrow-left"></i> <span th:text="#{label.back}">Back</span>
                        </a>

                        <button type="submit" class="btn btn-primary pull-right">Save Changes <i class="fa fa-floppy-o"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>