<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<head>
    <title>404 :: MeninetServices</title>
    <style>
        h2 {
            font-size: 65px;
            font-weight: normal;
            color: #C6C6C6;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>

<section layout:fragment="content">
    <h2> Opps!! </h2>

    <h3> It's looking like you may have taken a wrong turn.
        Don't worry... it happens to the best of us.</h3>

    <h3>Go back, click on <a th:href="@{/}"> home</a> and start over it again, that might help you get back on
        track.
    </h3>
</section>
</body>
</html>