<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<head>
    <title>404 :: MeninetServices</title>
    <style>
        h2 {
            font-size: 65px;
            font-weight: normal;
            color: #C6C6C6;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>

<section layout:fragment="content">
    <div id="page-wrapper">

        <h2> Opps!! </h2>

        <h3>Sorry, the page you requested was not found..</h3>

        <h3><a th:href="@{/index}"> Go Back Home</a>
        </h3>
    </div>
</section>
</body>
</html>