<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="../../resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}" media="screen"
          rel="stylesheet"/>
    <link href="../../resources/css/main.css" th:href="@{/resources/css/main.css}" rel="stylesheet"/>

    <style>
        h2 {
            font-size: 65px;
            font-weight: normal;
            color: #C6C6C6;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<div class="container-narrow">
    <div th:replace="fragments/header :: header"></div>
    <hr/>

    <div class="row">
        <h2>
            Opps!!
        </h2>

        <h3> It's looking like you may have taken a wrong turn.
            Don't worry... it happens to the best of us.</h3>

        <h3>Go back, click on <a th:href="@{/}"> home</a> and start over it again, that might help you get back on track.
        </h3>
    </div>

    <hr/>
    <div class="row">
        <div th:replace="fragments/footer :: footer"/>
    </div>
</div>
</body>
</html>