<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<head>
    <title> Error :: Medinet Services</title>
    <style>
        h2 {
            font-size: 65px;
            font-weight: normal;
            color: #C6C6C6;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<section layout:fragment="content">
    <div id="page-wrapper">

        <h2>
            Opps!!
        </h2>

        <h3>It's looking like something terribly went wrong.
            Don't worry... We'll get back to you with a solution as soon as possible!</h3>

        <h3>Go back to <a th:href="@{/admin/index}"> home</a> or just try later. </h3>
    </div>
</section>
</body>
</html>