<!DOCTYPE html>
<html>

<head>
    <title>Dashboard :: Admin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="../../resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}" media="screen"
          rel="stylesheet"/>
    <link href="../../resources/css/main.css" th:href="@{/resources/css/main.css}" rel="stylesheet"/>
    <script src="../../../resources/js/jquery-1.11.1.min.js"  th:scr="@{/resources/js/jquery-1.11.1.min.js}" ></script>

</head>
<body>

<div class="container-narrow">

    <div th:replace="fragments/header :: header"></div>
    <hr/>

    <div class="row">
        <!-- Sidebar-->
        <div class="col-sm-4">
            <ul class="nav nav-pills nav-stacked">
                <li><a th:href="@{/patient/create}">Intake A new Patient</a></li>
                <li><a th:href="@{/admin/createUser}">Create New User</a></li>
            </ul>
        </div>

        <!--End of Sidebar-->
        <div class="col-sm-6">

            <!--TODO other content-->

        </div>

    </div>

    <hr/>
    <div class="row">
        <div th:replace="fragments/footer :: footer"/>
    </div>
</div>
</body>
</html>
