<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>MediNetServices :: Index</title>

    <link href="../../../resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}" media="screen"
          rel="stylesheet"/>
    <link href="../../../resources/css/main.css" th:href="@{/resources/css/main.css}" rel="stylesheet"/>
    <script src="../../../resources/js/jquery-1.11.1.min.js"  th:scr="@{/resources/js/jquery-1.11.1.min.js}" ></script>

</head>

<body>

<!-- Navbar -->
<div class="masthead" th:fragment="header">
    <ul class="nav nav-pills pull-right">
        <li sec:authorize="isAuthenticated()"><a th:href="@{/admin/index}">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li sec:authorize="isAuthenticated()"> <a href="/j_spring_security_logout"  th:href="@{#}" onclick="$('#form').submit();">Logout [<span sec:authentication="name"></span>] </a> </li>
        <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/j_spring_security_logout}">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        </form>
    </ul>
    <h3 class="muted">MediNetServices</h3>
</div>
<!--End of Navbar -->

</body>
</html>